name: Node.js Package

on:
  pull_request:
    branches:
      - master
      - Release
  push:
    branches:
      - master
      - Release
      - refs/tags/*
    tags:
      - '*'

env:
  NODE_VERSION: 20

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: yarn install
      - run: cd projects/rpx-xui-translation && yarn install && cd ../..
      - run: yarn lint
      - run: yarn test
      - run: yarn build:library

  publish-npm:
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: https://registry.npmjs.org/
      - run: yarn install
      - run: cd projects/rpx-xui-translation && yarn install && cd ../..
      - run: yarn build:library
      - run: npm publish dist/rpx-xui-translation/ --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_API_TOKEN }}

  publish-gpr:
    if: startsWith(github.ref, 'refs/tags')
    needs: release-build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          scope: '@hmcts'
      - run: corepack enable && yarn --version
      - run: yarn install
      - run: yarn build
      - name: Pack dist as npm tarball
        id: pack
        run: |
          cd dist/rpx-xui-translation
          TAR=$(npm pack)
          echo "tarball=dist/rpx-xui-translation/$TAR" >> $GITHUB_OUTPUT
      - name: Attach tarball to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.pack.outputs.tarball }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm publish dist/rpx-xui-translation/ --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_PUBLISH_REGISTRY: https://npm.pkg.github.com/
