name: Node.js Package

on:
  pull_request:
    branches:
      - master
      - Release
  push:
    branches:
      - master
      - Release
      - refs/tags/*
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - run: yarn install
      - run: cd projects/rpx-xui-translation && yarn install && cd ../..
      - run: yarn lint
      - run: yarn build:library

  publish-npm:
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        if: startsWith(github.ref, 'refs/tags')
      - uses: actions/setup-node@v5
        if: startsWith(github.ref, 'refs/tags')
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      - run: corepack enable
      - run: yarn install
      - run: cd projects/rpx-xui-translation && yarn install && cd ../..
      - run: yarn build:library
      - run: npm publish dist/rpx-xui-translation/ --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_API_TOKEN }}
